<div class="sushiPlan">
    <div class="l-plan">
        <h1 class="sushiPlan-title">COURCE PLAN</h1>
        <p class="sushiPlan-titleSub">コースプラン</p>
        <div class="sushiPlan-inner">
            <div class="sushiPlan-innerContent">
                <img  class="plan-section-icon" src="assets/images/icon-left.png">
                <h3 class="plan-section-title">松</h3>
            </div>
            <div class="sushiPlan-innerContent">
                <img class="plan-section-icon" src="assets/images/icon-center.png" alt="chiku-icon">
                <h3 class="plan-section-title">竹</h3>
            </div>
            <div class="sushiPlan-innerContent">
                <img class="plan-section-icon" src="assets/images/icon-right.png" alt="chiku-icon">
                <h3 class="plan-section-title">梅</h3>
            </div>
        </div>
    </div>
</div>