<section class="sushiHero">
    <div class="l-hero">
        <div class="sushiHero-slider-container">
            <ul class="sushiHero-slider swiper-wrapper">
                <li class=sushiHero-sliderImage >
                    <div class="sushiHero-slider_upperImage"></div>
                </li>
            </ul>
        </div>
    </div>
</section>