<section class="sushiHeader">
    <div class="l-header">
        <div class="sushiHeader__inner">
            <div class="sushiHeader__inner-left">
                <a href="#" class="sushiHeader__inner-leftLogo"><img src="assets/images/sushi_logo1.png" alt="sushi_logo1"></a>
                <div class="sushiHeader-title">寿司店舗名</div>
            </div>
            <nav class="sushiHeader__inner-right">
                <ul class="sushiHeader__inner-rightList">
                    <li class="sushiHeader-item">
                        <a href="#" class="sushiHeader-item-child">
                            About Sushi branch
                            <span class="nav-subtitle">店舗について</span>
                        </a>
                    </li>
                    <li class="sushiHeader-item">
                        <a href="#" class="sushiHeader-item-child">
                            Menu
                            <span class="nav-subtitle">メニュー</span>
                        </a>
                    </li>
                    <li class="sushiHeader-item">
                        <a href="#" class="sushiHeader-item-child">
                            Access
                            <span class="nav-subtitle">アクセス</span>
                        </a>
                    </li>
                    <li class="sushiHeader-item">
                        <a href="#" class="sushiHeader-item-child">
                            Contact
                            <span class="nav-subtitle">コンタクト</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>